.newPasswordContainer {
    display: flex;
    justify-content: center;
}

.formNewPassword {
    width: 300px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}