.link {
    display: inline-block;
    transition: .7s;
    font-weight:bold;
    text-decoration:none;
    color: #111;
}
link:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.active {
    color: red;
}