.forgotStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formForgot {
    width: 20%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}