.button {
    padding: 3px 30px;
    background: transparent;
    transition: all .2s ease;
    border: 2px solid #26c17e;
    cursor: pointer;
    font-size: 20px;
    color: #26c17e;
    outline: none;
    text-align: center;
}

.button:hover {
    background: #26c17e;
    color: #ffffff;
}

.button:active {
    font-size: 17px;
}

.button.active {
    font-size: 0;
    border-radius: 25px;
    width: 50px;
    background: transparent;
}

.button:disabled {
    color: silver;
    background: white;
    border: 2px solid silver;
    cursor: default;
}
